/* Reduce hero header height */
.layout--home .page__hero--overlay {
  min-height: 560px;
}

.feature__item img {
  max-height: 120px;
  object-fit: cover;
}

.feature__item img {
  border-radius: 8px;
}