
/* assets/css/custom.css */

/* Example: add your custom styles here */
body {
  background-color: #f5f5f5;
}

h1 {
  color: #2a6ebb;
}



/* Reduce hero header height */
.layout--home .page__hero--overlay {
  min-height: 560px;
}

.feature__item img {
  max-height: 120px;
  object-fit: cover;
}

.feature__item img {
  border-radius: 8px;
}

.feature__item img {
  max-height: 120px !important;
  outline: 4px solid red !important;
}

.button-container {
  display: flex;
  flex-wrap: nowrap; /* prevents wrapping */
  gap: 0.5rem;       /* space between buttons */
  justify-content: center; /* center everything */
}
